.proposal-outcome-panel
  %h4.lmo-card-subheading{translate: 'proposal_outcome_panel.heading'}
  .wrap{ng-if: 'showSetOutcome()'}
    %p.lmo-hint-text{translate: 'proposal_outcome_panel.set_outcome_hint'}
    %a.btn.btn-success.lmo-btn-icon{href: '', ng-click: 'openProposalOutcomeForm()', translate: 'proposal_outcome_panel.set_outcome_btn'}
  %p{ng-show: 'proposal.hasOutcome()'} {{ proposal.outcome }}