.vote-form-modal
  .modal-header
    %button{type: 'button', class: 'close', ng-click: '$close()'}
      %span{aria-hidden: true} &times;
      %span.sr-only{translate: 'common.action.cancel'}
    %h1.lmo-h1.modal-title{translate: 'vote_form_modal.heading'}

  .modal-body
    %form_errors{record: 'vote'}
    %form{ng-submit: 'submit()',  ng-disabled: 'vote.processing', name: 'voteForm' }

    %fieldset{ng-show: 'vote.position'}
      .form-group
        %label.label-with-details{for: 'vote-statement-field'}
          %span.label-with-details-label{ng-show: 'vote.position'}
            {{ 'vote_form_modal.i_'+ vote.positionVerb() | translate }}
          %span.label-with-details-details{ng-show: 'vote.position', aria-hidden: 'true'}
            {{ 'vote_form_modal.i_'+ vote.positionVerb() +'_details' | translate }}
          %span.sr-only.label-with-details-details{ng-show: 'vote.position', translate: 'vote_form_modal.aria_statement_label'}>

          %span{translate: 'vote_form_modal.select_position', ng-show: '!vote.position'}
        %textarea#vote-statement-field.form-control{ng-model: 'vote.statement', placeholder: '{{ "vote_form_modal.statement_placeholder" | translate }}'}
        .chars-left.pull-right{ng-class: '{ overlimit: vote.overCharLimit() }' }
          {{ vote.charsLeft() }}


  .modal-footer
    %button.btn.btn-primary{type: 'submit', translate: 'vote_form_modal.submit_position'}>
    %button.btn.btn-warning{type: 'button', ng-click: '$close()', translate: 'common.action.cancel'}
